# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Turbo
.turbo/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Env
.env*
*.mcp.json

# Editor
.DS_Store
.idea/
.vscode/
